.page {

    z-index: -1000;
    /* overflow: hidden; */

    /* height: 400vh; */


    &--resize-animation-stopper {

        .header,
        .about *,
        .offer * {
            transition: none !important;
            animation: none !important;
        }


    }
}