<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smooth Scroll</title>
</head>
<body>
<div class="page">
    <nav class="menu">
        <ul class="menu__navigation">
<li class="menu__list-item">
<a data-destination ="first" href="#" class="menu__link">First</a>
</li>
<li class="menu__list-item">
<a data-destination ="second" href="#" class="menu__link" >Second</a>
</li>
<li class="menu__list-item">
<a data-destination ="third" href="#" class="menu__link">Third</a>
</li>
<li class="menu__list-item">
<a data-destination ="fourth" href="#" class="menu__link">Fourth
</a>
</li>
            
    </ul>
       <div class="menu__nav-bar"> <div class="menu__logo logo">Logo</div>

        <button class="burger" >
            <span class="burger__element"></span>
        </button>
    </div>
    </nav>
<div class=" smooth-scroll-container">
    <section class="section first">
    <h4 class="section__title">First</h4>
    </section>
    <section class="section second">
        <h4 class="section__title">Second</h4>
    </section>
    <section class="section third">
        <h4 class="section__title">Third</h4>
    </section>
    <section class="section fourth">
        <h4 class="section__title">Fourth</h4>
    </section>
</div>
</div>
</body>
</html>